/***********************
    Variables
***********************/
$aqua: #44bba4;
$purple: #8d3b72;
$pink: #eabcad;
$handWrittenFont: 'Pacifico', cursive;
$titleFont: 'Poiret One', cursive;


/***********************
    Animations
***********************/ 
@mixin spin {
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }  
} 
