/***********************
    Variables
***********************/
$aqua: #44bba4;
$aquaHover: #0c8f77;
$green: #018806;
$red: #ff0110;
$purple: #8d3b72;
$purpleHover: #610f45;
$pink: #eabcad;
$pinkHover: #c4755b;
$handWrittenFont: 'Pacifico', cursive;
$titleFont: 'Poiret One', cursive;
$mainFont: 'Nunito', sans-serif;


/***********************
    Mixin
***********************/ 
@mixin Wbuttons($color, $colorHover) {
    display: block;
    width: 180px;
    color: #fff;
    border-radius: 35px;
    border: 0;
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 6px 6px 4px rgba(50, 50, 50, 0.6);
    background-color: $color;
    &:hover {
        background-color: $colorHover;
    }
}


/***********************
    Animations
***********************/ 
@mixin spin {
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }  
} 


