@import "_config.scss";
body {
    font-family: $mainFont;
}

nav {
    box-shadow: 8px 8px 4px rgba(50, 50, 50, 0.7);
    
    #w-title {
        font-family: $titleFont;
        font-size: 25px;
        font-weight: bold;
        color: $aqua;
    }

    #w-hat {
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        background: url('../imgs/hat_mustache.jpg') no-repeat center;
        background-size: cover;
    }

}

#main-search {
    padding-top: 10em;
    background: url('../imgs/wooden_board3.png') no-repeat center;
    background-size: cover;
    height: 80vh;

    h1 {
        text-align: center;
        margin-bottom: 0.5em;
        font-family: $titleFont;
        font-weight: bold;
    }

    input {
        margin-top: 1em;
        padding: 0.5em 1.5em 0.5em 1.5em;
        width: 23em;
        margin: 0 auto;
        border-radius: 35px;
        border: 0;
        box-shadow: 8px 8px 4px rgba(50, 50, 50, 0.7);
        font-family: $mainFont;
        font-size: 1.4em;
        color: #666;
    }

    #search-btn {
        @include Wbuttons($aqua, $aquaHover);
        margin: 2em auto;        
    }
}

.spooner {
    display: block;
    text-align: center;
    margin: 2em auto;
    color: $pink;

    .loading {
        margin: 1em;
        display: inline-block;
        animation: spin 2s linear infinite;
        @include spin;
    }
}

.custom-alert {
    position: fixed;
    top: 5px;
    width: 100%;
}
.custom-alert[data-main="mainPage"] {
    width: 70%;
}

#search-results {
    margin-top: 18em;
}

#dashboard-section {
    margin-top:20em;
    .recipe-completed {
        border-right: 25px solid $green !important;
    }
}

#search-results,
#dashboard-section {
    ul {
        list-style: none;
    }

    .recipe-prev-card {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        box-shadow: 4px 4px 15px rgba(50, 50, 50, 0.3);
        min-height: 234px;
        margin-bottom: 2em;
    }

    .recipe-prev-img {
        width: 50%;
        max-height: 100%;
        
        div {
            width: 100%;
            height: 100%;
            background-size: "cover" !important;
        }
    }

    .recipe-prev-text {
        text-align: center;
        margin: 1.5em auto;
        max-width: 50%;
        padding: 0.7em;
        
        .cook-btn {
            @include Wbuttons($aqua, $aquaHover);
            margin: 1em auto;
        }

        .save-btn {
            @include Wbuttons($pink, $pinkHover);
            margin: 1em auto;
            
            .fa-bookmark {
                margin-left: 6px;
            }
        }
    }

    .recipe-details {
        .modal-content {
            border: 0;
            border-radius: 0;
            background-color: $aqua;
            
            .modal-title {
                color: #FFF;
            }
        }

        button {
            @include Wbuttons(#FFF, #FFF);
            box-shadow: 0 0 0;
            color: $aqua;
            width: 6em;
            margin: 0 1em 1em auto;
            &:hover {
                color: $aquaHover;
            }
        }
    }
}

#signup-section {
    background: url('../imgs/register_bg2.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    .container {
        width: 50%;
        margin: 0 3em 0 auto; 
        padding-top: 5em;
        h1 {
            font-family: $handWrittenFont;
            color: #FFF;
            font-weight: bold;
            letter-spacing: 2px;
            text-shadow: 1px 1px 1px #444;
        }
        input {
            border-radius: 35px;
            border: 0;
            box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.7);
            font-family: $mainFont;
            font-size: 1.4em;
            color: #666;
            margin-top: 1.5em;
        }
        button {
            @include Wbuttons(#aa020d, #ff0110);
            margin: 2em auto;
        }
    }
}

#login-section {
    background: url('../imgs/login_bg2.png') no-repeat center;
    background-size: cover;
    height: 100vh;
    .container {
        width: 50%;
        padding-top: 5em;
        input {
            border-radius: 35px;
            border: 0;
            box-shadow: 4px 4px 2px rgba(50, 50, 50, 0.7);
            font-family: $mainFont;
            font-size: 1.4em;
            color: #666;
            margin-top: 1.5em;
        }

        h1 {
            font-family: $handWrittenFont;
            color: $aqua;
            font-weight: bold;
            letter-spacing: 2px;
            text-shadow: 1px 1px 1px #444;
        }
        button {
            @include Wbuttons($aqua, $aquaHover);
            margin: 2em auto;
        }

    }
}

#dashboard-section {
    margin-top: 0;
    #dashboard-header {
        display: flex;
        background-color: $aqua;
        color: #fff;
        padding: 2em;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 1em;

        .avatar-container {
            background: #fff;
            border-radius: 50%;
            padding: 1em;
        
            .avatar-img {
                background: url('../imgs/avatar_cook.png') no-repeat center;
                background-size: contain;
                border-radius: 50%;
                width: 145px;
                height: 140px;
            }
        }

        .user-info {
            flex-grow: 2;
            text-align: center;
        }
    }
    .remove-btn {
        @include Wbuttons(#FFF, $red);
        color: $red;
        border: 1px solid $red; 
        margin: 0 auto;
        &:hover {
            color: #FFF;
        }

    }
    
    .complete-btn {
        @include Wbuttons(#FFF, $green);
        margin: 1em auto;
        color: $green;
        border: 1px solid $green;
        &:hover {
            color: #FFF;
        }
    }

    button > .fa-check,
    button > .fa-trash-alt,
    button > .fa-pencil-alt {
        margin-left: 5px;
    }

    .comment-section {
        margin: 2em auto;

        .comment-btn {
            @include Wbuttons($yellow, $yellowHover);
            margin: 0 auto;
        }

        textarea {
            background: $yellowPad url('../imgs/yellowPadlg.png') no-repeat center;
            background-size: cover;
            border-width: 8px 0 0 0;
            border-color: #444;
            padding: 1em;
            width: 16em;
        }

    }

    .open-comment-btn {
        @include Wbuttons(#FFF, $yellow);
        color: $yellow;
        border: 1px solid $yellow; 
        margin: 1em auto;
        &:hover {
            color: #FFF;
        }
    }
    
}



